.auctex-auto
.ipynb_checkpoints
.DS_Store
logs
administration
papers
datasets/
figs
figures
__pycache__
logs
*.bbl
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*_.tex
*.bib
*.bbl
*.dvi
*.org_achive
*#
*.el
*~
*.ipynb

